---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { db, eq, BlogPage, BlogSection } from "astro:db";
import SectionComponent from "../../components/BlogPageSection.astro";

export async function getStaticPaths() {
    const pages = await db.select().from(BlogPage);
    
    return pages.map( (blogPage) => {
        return { 
            params: { page: blogPage.title },
            props: blogPage
        }
    });
}

const { title: pageTitle, emoji } = Astro.props;

let sections = await db.select().from(BlogSection)
    .where(eq(BlogSection.page, pageTitle));
---

<style>
    h1 {
        text-align: center;
        border: 1px solid black;
        border-radius: 1em;
        /* font-family: 'DotMatrix'; */
    }
    #back {
        float: right;
    }
</style>
<BaseLayout title="Blog" icon={emoji}>
    <h1>{pageTitle}!</h1>
    <a href="/blog" id="back" class="redlink">&lt;- zurück</a>
    {
        sections.map((section) => <SectionComponent section={section} />)
    }
</BaseLayout>
