---
import BaseLayout from "../layouts/BaseLayout.astro";
import Masonry from "../components/ImageMasonry.astro";

import { db, eq, Pic, BlogPageFeature } from "astro:db";

export const icon = "👋";
export const title = "Blog";
export const index = 1;

const featuredImages = await db.select()
    .from(BlogPageFeature)
    .innerJoin(Pic, eq(Pic.id, BlogPageFeature.picID));

const images = featuredImages.map(({Pic}) => ({path: Pic.basePath + Pic.name, title: Pic.alt}));
---

<style>

    h1 {
        border-bottom: 2px solid black;
    }
    
</style>

<BaseLayout icon={icon} title={title}>
    <h1>Pinterest des Grauens</h1>
    
    <h2>Aktuell</h2>
    <p class="text-with-button">Hi ich bin in Kanada!!!<a href="blog/Kanada" class="redlink">zur Blogseite -&gt;</a></p>
    
    <Masonry images={images} numColumns={3} />
</BaseLayout>