---
import BaseLayout from "../layouts/BaseLayout.astro";
import { db, FaktDesTages } from "astro:db";

export const icon = "🏠";
export const title = "Home";
export const index = 0;

const fakten = await db.select().from(FaktDesTages);
---

<BaseLayout icon={icon} title={title} addFloater={true}>
	<p>Die Fakten sind:</p>
	<ul>
		{fakten.map(({ fakt }) => <li>{fakt}</li>)}
	</ul>
</BaseLayout>
