---
import Grid from "../layouts/Grid.astro";

export const icon = "🏠";
export const title = "Home";
export const index = 0;
---

<Grid icon={icon}>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
	<p>hihi</p>
</Grid>