---
import ImageScrollGallery from "./ImageScrollGallery.astro";

import {
    selectPics,
    getBlogEntriesForSection,
} from "../scripts/select_pics.ts";

const { page, section } = Astro.props;

const entries = await getBlogEntriesForSection(page, section);

let displaySection = false;
let entryPics: { [key: string]: any } = {};
for (const entry of entries) {
    entryPics[entry.relativePath] = await selectPics([entry.id], 3);
    if (entryPics[entry.relativePath].length > 0) {
        displaySection = true;
    }
}
---

<style>
    h2 {
        margin-top: 3em;
        font-family: "DotMatrix";
    }
</style>

{
    displaySection && (
        <>
            <h2>{section}</h2>
            {entries
                .filter((entry) => entryPics[entry.relativePath].length > 0)
                .map((entry) => (
                    <>
                        {entry.caption && <h3>{entry.caption}</h3>}
                        {entry.date && (
                            <p>
                                <em>
                                    Datum:{" "}
                                    {new Date(entry.date).toLocaleDateString()}
                                </em>
                            </p>
                        )}
                        <ImageScrollGallery
                            images={entryPics[entry.relativePath]}
                        />
                    </>
                ))}
        </>
    )
}
