---
import "../styles/global.css";
import "../styles/animations.css";
---

<script>
    const sprueche = [
        "GPT free!",
        "Bumm!",
        "Made with actual<br/>human tears!",
        "Pow!",
        "Intelligence free -<br/>artificial or otherwise!",
        "<p style='all: inherit; color: green;'>Now in color!</p>",
        "???",
        "Made with<br/>unicorn farts!",
        "GMO free!",
        "nyoom",
        "no cookies :(",
        "<p style='all: inherit; animation: spin 0.9s linear infinite'>WHEEEEEE!</p>",
        "Sponsored by Elmex©",
    ];

    const i = Math.floor(Math.random() * sprueche.length);
    document.getElementById("floater")!.firstElementChild!.innerHTML =
        sprueche[i];
</script>

<style>
    #floater {
        position: absolute;
        right: 0;
        top: 0;
        rotate: 20deg;
        z-index: 1000;
        /* animation-name: bounce; */
        animation-duration: 0.4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
    #floater p {
        font-family: "DotMatrix";
        font-size: 15pt;
        margin: 0;
    }
</style>

<div id="floater">
    <p></p>
</div>
