<style>
    .footer {
        margin-top: 1em;
        margin-bottom: 2em;
        border-top: 1px dashed black;
        padding: 1em;
    }
    p {
        font-size: 8pt;
        width: 80%;
        margin: auto;
    }
</style>
<div class="footer">
    <p>In case you're having trouble while viewing this site, please contact your local support hotline.</p>
</div>
