---
import '../styles/global.css';
---
<style>
    .floater {
        position: absolute;
        right: 2em;
        top: 4em;
        rotate: 20deg;
        line-height: 0.3em;
    }
    .floater > p {
        font-family: 'DotMatrix';
        font-size: 16pt;
    }
</style>

<h1><em>hensing1.website</em></h1>
<div class="floater">
    <p>GPT-free! <span style="font-family: 'DotMatrixBold'">Wow!!</span></p>
</div>