---
import { db, Pic } from "astro:db";

export async function getStaticPaths() {
    const entries = await db.select().from(Pic);
    
    return entries.map( (pic) => {
        return { 
            params: { image: pic.id},
            props: pic
        }
    });
}

const { image: imgID } = Astro.params;
const prev = Math.max(0, imgID - 1);
const next = Number(imgID) + 1;
const { id: _, name, basePath, alt } = Astro.props;
---

<p>ID: {imgID}</p>
<p>Source: {basePath + name}</p>
<a href={prev.toString()}>prev</a>
<a href={next.toString()}>next</a>
<br/>
<img style="max-height: 700px;" src={basePath + name} />